*
{
    font-family: sans-serif;
}

.hidden
{
    display: none;
}

#display
{
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    background-color: lightgray;
    display: grid;
    grid-template-areas: 
    "chat"
    "controls";
    grid-template-rows: auto 40px;
}

#controls
{
    height: 100%;
    width: 100%;
    background-color: lightgreen;
    grid-area: controls;
    display: grid;
    grid-template-areas: "refresh text send";
    grid-template-columns: 70px auto 70px;
}


#refreshbtn
{
    grid-area: refresh;
    width: 100%;
    height: 100%;
}

#textwindow
{
    grid-area: text;
    height: 100%;
    width: 100%;
}

#sendbtn
{
    grid-area: send;
    width: 100%;
    height: 100%;
}

#txt
{
    width: 100%;
    height: 100%;
    font-size: 25px;
}

.btn
{
    height: 100%;
    width: 100%;
}

#chatpane
{
    grid-area: chat;
    height: 100%;
    width: 100%;
    overflow: scroll;
}

.chatmsg
{
    font-size: 20px;
}

.plaintiffmsg
{
    text-align: left;
    margin-left: 15px;
    color: red;
}

.mediatormsg
{
    text-align: center;
    color: black;
}

.defendantmsg
{
    text-align: right;
    margin-right: 15px;
    color: blue;
}

